.container {
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
    /* max-height: 100vh; */
    /* display: flex; */
    /* justify-content: space-evenly; */
    padding-top: 32px; /* +24 for AppNav */
    margin: 0 40px 16px 12px;
    border-left: 1px dimgray solid;
    border-right: 1px dimgray solid;
}

.userTitle {
    padding-right: 6px;
}

.buttonHeader {
    padding: 6px 8px 4px;
    border-top: 1px dimgray solid;
    border-bottom: 1px dimgray solid;
    align-items: center;
}

.imageButton {
    padding: 2px 2px;
    border: 1px #E0E0CD solid;
    background-color: #7E648A;
    margin-right: 6px;
    /* align-items: center;
    justify-content: center; */
}

.imageButton:hover {
    background-color: #967CA3;
}

.scroller {
    height: 100%;
    overflow-y: auto;
}
