.container {
    padding-top: 36px; /* +24 for AppNav */
    margin-left: 8px;
}

.setupPhase {
    border: 1px solid white;
    padding: 4px 10px;
}

.setupGroupTier {
    border: 1px solid white;
    padding: 4px 10px;
}

.groupAdvancementInfo {
    margin-left: 8px;
    padding: 2px 6px;
    border: 1px solid lightgray;
}

.groupTier {
    /* border: 1px solid white; */
    padding: 4px 0;
}

.group {
    float: left;
    width: 50px;
    /* padding: 2px 2px; */
    border: 1px solid white;
    margin-right: 6px;
    margin-bottom: 6px;
}

.groupName {
    margin-left: 5px;
    margin-bottom: 2px;
}

.groupCharacters {
    position: relative;
}
