.item {
    position: absolute;
    /* width: 100px;
    height: 100px;
    line-height: 100px; */
    margin: 2px 2px 0 2px;
    z-index: 1;
}

.item.muuri-item-hidden {
    z-index: 0;
}
.item.muuri-item-releasing {
    z-index: 2;
}
.item.muuri-item-dragging {
    z-index: 3;
}

.itemContent {
    border: 1px var(--bg-default) solid;
    padding: 2px 2px 0 2px;
}

.itemContent:hover {
    background-color: #967CA3;
    border: 1px #967CA3 solid;
}

/* .character {
    cursor: grab;
    height: 28px;
    width: 28px;
    overflow: hidden;
    position: relative;
    border-bottom: 5px purple;
}

.name {
    text-align: center;
    display: inline-block;
    color: gainsboro;
    position: absolute;
    font-size: 10px;
    bottom: 0;
    left: 0;
    width: calc(100% - 20px);
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.5);
}

.favorite {
    color: #ff90b3;
    font-size: 18px !important;
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
} */
